
venv/
PoseCoachvenv/
__pycache__/
*.py[cod]
.DS_Store
dataset/exercise_detection/*.csv
dataset/videos/*.mp4 
dataset/*.csv
dataset/*.npz
dataset/windows_*.npz

model/*.txt
model/**/*.pt
model/**/scaler*.pkl

artifacts/**

outputs/**
!outputs/.gitkeep
